@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lora" serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Oxygen" sans-serif;
}

body {
  font-family: "Lora" serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
  animation-delay: 3s;
  animation-iteration-count: 3;
  */
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #006837, #044d2b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
@media (max-width: 575.98px) {
  .heading-secondary {
    font-size: 2rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.7rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.section-about__photo {
  max-width: 100%;
  border: 1px solid;
  border-radius: 2rem;
  border-width: 1rem;
  border-color: #cfe8aa;
  animation: fadeInDown 2s ease-out;
}
@media (max-width: 1199.98px) {
  .section-about__photo {
    max-width: 100%;
    margin-top: 20rem;
  }
}
@media (max-width: 991.98px) {
  .section-about__photo {
    max-width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}
@media (max-width: 767.98px) {
  .section-about__photo {
    max-width: 110%;
    height: auto;
    border: solid;
    border-radius: 2rem;
    border-width: 0.2rem;
    border-color: #cfe8aa;
    outline: 2rem;
    position: relative;
    top: -20rem;
  }
}
@media (max-width: 575.98px) {
  .section-about__photo {
    max-width: 100%;
    height: auto;
    border: solid;
    border-radius: 2rem;
    border-width: 0.2rem;
    border-color: #cfe8aa;
    outline: 2rem;
    position: relative;
    top: -1rem;
  }
}
@media (max-width: 397.98px) {
  .section-about__photo {
    max-width: 100%;
    height: auto;
    border: solid;
    border-radius: 2rem;
    border-width: 0.2rem;
    border-color: #cfe8aa;
    outline: 2rem;
    position: relative;
    top: 10rem;
  }
}
.section-about__heading {
  font-size: 4rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: #006837;
  margin-left: 2rem;
  animation: fadeInDown 2s ease-out;
}
@media (max-width: 575.98px) {
  .section-about__heading {
    font-size: 2.5rem;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #006837;
    margin-left: 2rem;
    margin-top: 13rem;
  }
}
.section-about__paragraph {
  font-size: 1.7rem;
  color: #000000;
  animation: fadeInDown 2s ease-out;
}
.section-about__heading-tertiary {
  font-size: 2.5rem;
  color: #006837;
  font-weight: 500;
  text-transform: uppercase;
  animation: fadeInDown 2s ease-out;
}
.section-about__portfolio {
  font-size: 1.5rem;
}

.vision-mission {
  height: 35rem;
  background-color: #cfe8aa;
}
@media (max-width: 575.98px) {
  .vision-mission {
    height: 85rem;
  }
}

.company-profile {
  border-bottom: 1rem solid #cfe8aa;
  border-style: double;
}

.vision {
  text-align: center;
  border-bottom: 0.1rem solid #000000;
  border-radius: 3rem;
  border-style: groove;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  margin: 1rem;
}
.vision__heading {
  text-align: center;
}

.profile__img {
  max-width: 100%;
  border-radius: 2rem;
  border: 0.3rem solid #cfe8aa;
  animation: fadeInDown 2s ease-out;
}
@media (max-width: 575.98px) {
  .profile__img {
    max-width: 100%;
  }
}

.company-products__strong {
  text-transform: uppercase;
}

.contact {
  background-image: linear-gradient(105deg, #cfe8aa, rgba(255, 255, 255, 0.9) 20%, transparent 70%), url(../images/ace-contact.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 991.98px) {
  .contact {
    background-size: cover;
    background-position: 25%;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 575.98px) {
  .contact {
    background-size: cover;
    background-position: 25%;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  }
}
.contact__form {
  max-width: 80%;
}
@media (max-width: 575.98px) {
  .contact__form {
    max-width: 100%;
    padding: 3rem;
  }
}

.contact-info__header {
  font-size: 2rem;
}
@media (max-width: 991.98px) {
  .contact-info__text {
    font-size: 1.2rem;
  }
}
.contact-info__icon {
  font-size: 4rem;
  color: #044d2b;
}

.section-products {
  margin-bottom: 5rem;
  padding: 5rem 0 5rem;
}
@media (max-width: 1199.98px) {
  .section-products {
    margin-bottom: 5rem;
    padding: 5rem 0 7rem;
  }
}
@media (max-width: 991.98px) {
  .section-products {
    margin-bottom: 5rem;
    padding: 5rem 0 7rem;
  }
}
@media (max-width: 575.98px) {
  .section-products {
    margin-bottom: 5rem;
    padding: 5rem 0 7rem;
  }
}

.product {
  background-image: linear-gradient(to bottom, #cfe8aa, #044d2b);
  padding: 5rem 0 5rem;
  margin-bottom: 5rem;
  animation: fadeInDown 2s ease-out;
}
@media (max-width: 1199.98px) {
  .product {
    margin-bottom: 2rem;
    padding: 5rem 0 10rem;
  }
}
@media (max-width: 991.98px) {
  .product {
    margin-bottom: 2rem;
    padding: 5rem 0 10rem;
  }
}
@media (max-width: 575.98px) {
  .product {
    margin-bottom: 2rem;
    padding: 5rem 0 10rem;
  }
}
.product__header {
  letter-spacing: 2rem;
  border-bottom: 0.1rem solid;
  background-color: #cfe8aa;
}
@media (max-width: 575.98px) {
  .product__header {
    font-size: 2rem;
  }
}
.product__details {
  color: white;
  font-size: 2rem;
  padding: 0 10rem 0 10rem;
}
@media (max-width: 575.98px) {
  .product__details {
    padding: 0 2rem 0 2rem;
  }
}
.product__img {
  max-width: 30%;
  height: auto;
}
@media (max-width: 1199.98px) {
  .product__img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 991.98px) {
  .product__img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 575.98px) {
  .product__img {
    max-width: 100%;
    height: auto;
  }
}

.btn--product:link, .btn--product:visited {
  font-size: 1.7rem;
  font-weight: 700;
  color: #cfe8aa;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #006837;
  padding: 3px;
  transition: all 0.2s;
  font-weight: 700;
}
.btn--product:hover {
  background-color: #006837;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn--product:active {
  box-shadow: 0 0.5rem 1rem rgba(207, 232, 170, 0.15);
  transform: translateY(0);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  bottom: 40rem;
  font-size: 1.7rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 104, 55, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #ffffff;
  color: #000000;
}
.btn--white::after {
  background-color: #ffffff;
}
.btn--white::after {
  background-color: #ffffff;
}
.btn--green {
  background-color: #006837;
  color: #ffffff;
  font-weight: 700;
}
.btn--green::after {
  background-color: #006837;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.7rem;
  font-weight: 700;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #006837;
  padding: 3px;
  transition: all 0.2s;
  font-weight: 700;
}
.btn-text:hover {
  background-color: #006837;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.carousel-indicators {
  margin-bottom: 28rem;
}
@media (max-width: 1199.98px) {
  .carousel-indicators {
    margin-bottom: 13rem;
  }
}
@media (max-width: 991.98px) {
  .carousel-indicators {
    margin-bottom: 13rem;
  }
}
@media (max-width: 767.98px) {
  .carousel-indicators {
    margin-bottom: 18rem;
  }
}
@media (max-width: 575.98px) {
  .carousel-indicators {
    margin-bottom: 18rem;
  }
}

.carousel {
  height: 121.75vh;
}
@media (max-width: 1199.98px) {
  .carousel {
    height: 118.75vh;
  }
}
@media (max-width: 575.98px) {
  .carousel {
    height: 100vh;
  }
}
.carousel__img {
  height: 109.75vh;
  max-width: 100%;
  filter: brightness(50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}
@media (max-width: 1199.98px) {
  .carousel__img {
    height: 118.75vh;
    max-width: 100%;
    filter: brightness(50%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
  }
}
@media (max-width: 991.98px) {
  .carousel__img {
    height: 120.75vh;
    max-width: 100%;
    filter: brightness(50%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
  }
}
@media (max-width: 767.98px) {
  .carousel__img {
    height: 121.75vh;
    max-width: 100%;
    filter: brightness(50%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
  }
}
@media (max-width: 575.98px) {
  .carousel__img {
    height: 80vh;
    max-width: 100%;
    filter: brightness(50%);
  }
}

.carousel-caption {
  position: absolute;
  top: 80%;
  left: -50%;
  bottom: 50%;
  right: -50%;
  text-align: center;
}
@media (max-width: 1199.98px) {
  .carousel-caption {
    position: absolute;
    top: 70%;
    left: -50%;
    right: -50%;
    bottom: 100%;
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .carousel-caption {
    position: absolute;
    top: 70%;
    left: -50%;
    right: -50%;
    bottom: 100%;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .carousel-caption {
    position: absolute;
    top: 70%;
    left: -50%;
    right: -50%;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .carousel-caption {
    position: absolute;
    top: 120%;
    left: -50%;
    bottom: 50%;
    right: -50%;
    transform: translate(0%, -20%);
    text-align: center;
  }
}
.carousel-caption__header {
  font-family: "Oxygen" sans-serif;
  font-size: 8rem;
  color: #cfe8aa;
}
@media (max-width: 1199.98px) {
  .carousel-caption__header {
    font-size: 8rem;
  }
}
@media (max-width: 991.98px) {
  .carousel-caption__header {
    font-size: 8rem;
  }
}
@media (max-width: 767.98px) {
  .carousel-caption__header {
    font-size: 8rem;
  }
}
@media (max-width: 575.98px) {
  .carousel-caption__header {
    font-size: 4rem;
  }
}
.carousel-caption__description {
  font-family: "Lora" serif;
  font-size: 3rem;
}
@media (max-width: 1199.98px) {
  .carousel-caption__description {
    font-size: 3rem;
  }
}
@media (max-width: 991.98px) {
  .carousel-caption__description {
    font-size: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .carousel-caption__description {
    font-size: 3rem;
  }
}
@media (max-width: 575.98px) {
  .carousel-caption__description {
    font-size: 1.7rem;
  }
}
.carousel-caption__btn {
  position: absolute;
  animation: 4s moveInBottom ease-out;
}
@media (max-width: 575.98px) {
  .carousel-caption__btn {
    font-size: 7rem;
  }
}
@media (max-width: 767.98px) {
  .carousel-caption__btn {
    font-size: 13rem;
  }
}

.carousel-item__testimonial {
  font-size: 1.7rem;
}
.carousel-item__header {
  color: #006837;
}

.feature-box {
  height: 70vh;
  margin-top: 10rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.9rem 4rem rgba(0, 0, 0, 0.15);
  animation: fadeInDown 2s ease-out;
}
@media (max-width: 1199.98px) {
  .feature-box {
    height: 40vh;
    padding: 5rem;
    margin-bottom: 2rem;
  }
  .feature-box:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991.98px) {
  .feature-box {
    height: 50vh;
    padding: 5rem;
    margin-bottom: 2rem;
  }
  .feature-box:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767.98px) {
  .feature-box {
    max-width: 100%;
    height: 60vh;
    margin-bottom: 2rem;
  }
  .feature-box:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 575.98px) {
  .feature-box {
    max-width: 100%;
    height: 70vh;
    margin-bottom: 2rem;
  }
  .feature-box:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.feature-box__products {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1199.98px) {
  .feature-box__products {
    max-width: 110%;
    height: auto;
  }
}
@media (max-width: 991.98px) {
  .feature-box__products {
    max-width: 80%;
    height: auto;
  }
}
@media (max-width: 575.98px) {
  .feature-box__products {
    max-width: 85%;
    height: auto;
  }
}
.feature-box__heading {
  font-size: 2.5rem;
  font-style: italic;
  text-transform: uppercase;
  color: #006837;
}
.feature-box__text {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.card {
  max-width: 100%;
  height: auto;
}
.card__img {
  position: relative;
  left: 40rem;
  width: 50rem;
  border: 0.5rem solid;
  border-radius: 4rem;
  border-width: 1rem;
  border-color: #044d2b;
}
@media (max-width: 1199.98px) {
  .card__img {
    max-width: 100%;
    position: relative;
    left: 22rem;
  }
}
@media (max-width: 991.98px) {
  .card__img {
    max-width: 100%;
    position: relative;
    left: 10rem;
  }
}
@media (max-width: 767.98px) {
  .card__img {
    max-width: 100%;
    position: relative;
    left: 0;
  }
}
@media (max-width: 575.98px) {
  .card__img {
    max-width: 100%;
    position: relative;
    left: 0;
    border: 0.5rem solid;
    border-radius: 2rem;
    border-width: 0.5rem;
  }
}
.card__title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__textarea {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all 3s;
}
@media (max-width: 575.98px) {
  .form__textarea {
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 1rem;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 70%;
    display: block;
    transition: all 3s;
  }
}
.form__textarea:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #006837;
}
.form__textarea:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__textarea::-webkit-input-placeholder {
  color: #999;
}
.form__textarea::-webkit-input-placeholder {
  color: #999;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #006837;
}
.form::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 3s;
}
@media (max-width: 575.98px) {
  .form__label {
    font-size: 0.7rem;
    font-weight: 300;
    margin-left: 1rem;
    margin-top: 0.3rem;
    display: block;
    transition: all 3s;
  }
}
.form__textarea:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
@media (max-width: 575.98px) {
  .form__textarea {
    width: 90%;
  }
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #006837;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #006837;
}
.form::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__f-submit {
  position: relative;
  top: -3rem;
  right: -13rem;
}
.form__submit {
  font-size: 2rem;
  background-color: #006837;
  color: #ffffff;
  font-weight: 700;
  border-radius: 0.7rem;
  position: relative;
  top: -2rem;
  left: 10rem;
}
.form__submit::after {
  background-color: #006837;
}
.form__submit::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
@media (max-width: 1199.98px) {
  .form__submit {
    position: absolute;
    top: 141rem;
  }
}
@media (max-width: 991.98px) {
  .form__submit {
    position: absolute;
    top: 140rem;
  }
}
@media (max-width: 767.98px) {
  .form__submit {
    position: absolute;
    top: 142rem;
    left: 2rem;
  }
}
@media (max-width: 575.98px) {
  .form__submit {
    position: absolute;
    top: 172rem;
    left: 2rem;
  }
}
.form .success.mg {
  font-size: 1.5rem;
  color: white;
  background-color: green;
}

.testimony {
  width: 75h;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(4, 77, 43, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.7rem;
  transform: skewX(-12deg);
  margin-bottom: 10rem;
}
@media (max-width: 1199.98px) {
  .testimony {
    width: 5h;
    padding: 3rem 14rem;
    transform: skewX(-5deg);
    margin-bottom: 10rem;
  }
}
@media (max-width: 991.98px) {
  .testimony {
    width: 5h;
    padding: 3rem 14rem;
    transform: skewX(-5deg);
    margin-bottom: 10rem;
  }
  .testimony:not(:last-child) {
    margin-bottom: 10rem;
  }
}
@media (max-width: 767.98px) {
  .testimony {
    width: 15h;
    padding: 6rem;
  }
}
@media (max-width: 575.98px) {
  .testimony {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(4, 77, 43, 0.6);
    padding: 3rem 0;
    padding-left: 2rem;
    font-size: 1.7rem;
    transform: skewX(0deg);
    margin-bottom: 2rem;
  }
  .testimony:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 397.98px) {
  .testimony {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(4, 77, 43, 0.6);
    padding: 1rem 0;
    padding-left: 2rem;
    font-size: 1.7rem;
    transform: skewX(0deg);
    margin-bottom: 2rem;
  }
  .testimony:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.testimony__shape {
  width: 15rem;
  height: 15rem;
  background-color: orangered;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-2rem) skewX(12deg);
  position: relative;
}
@media (max-width: 1199.98px) {
  .testimony__shape {
    width: 10rem;
    height: 10rem;
    background-color: orangered;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(4deg);
    position: relative;
  }
}
@media (max-width: 991.98px) {
  .testimony__shape {
    width: 10rem;
    height: 10rem;
    background-color: orangered;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(4deg);
    position: relative;
  }
}
@media (max-width: 575.98px) {
  .testimony__shape {
    width: 10rem;
    height: 10rem;
    background-color: orangered;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(0deg);
    position: relative;
  }
}
.testimony__image {
  height: 100%;
  transform: translate(-4rem) scale(1.6);
  backface-visibility: hidden;
  transition: all -2s;
}
.testimony__text {
  transform: skewX(12deg);
}
@media (max-width: 991.98px) {
  .testimony__text {
    font-size: 0.5rem;
    transform: skewX(12deg);
  }
}
@media (max-width: 575.98px) {
  .testimony__text {
    font-size: 0.5rem;
    transform: skewX(-4deg);
  }
}
@media (max-width: 397.98px) {
  .testimony__text {
    font-size: 0.2rem;
    transform: skewX(-4deg);
  }
}
@media (max-width: 575.98px) {
  .testimony__word {
    font-size: 10px;
  }
}
@media (max-width: 397.98px) {
  .testimony__word {
    font-size: 2px;
  }
}
.testimony__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all -2s;
  backface-visibility: hidden;
}
.testimony:hover .testimony__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.testimony:hover .testimony__image {
  transform: translate(-4rem) scale(1);
  filter: blur(0.3rem) brightness(80%);
}

#scrollUpBtn {
  font-size: 4rem;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  background-color: #044d2b;
}
@media (max-width: 575.98px) {
  #scrollUpBtn {
    font-size: 2rem;
    position: fixed;
    right: 72px;
    bottom: 40px;
    display: none;
  }
}

.album {
  padding: 20px;
}

.album .col {
  padding: 10px;
}

.album img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.gallery-heading1 {
  color: #006837;
  margin-top: 30rem;
}
@media (max-width: 575.98px) {
  .gallery-heading1 {
    font-size: 3rem;
  }
}

.nav__navbar-nav {
  list-style: none;
  display: inline-flex;
}
@media (max-width: 991.98px) {
  .nav__navbar-nav {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    left: 4rem;
  }
}
@media (max-width: 767.98px) {
  .nav__navbar-nav {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
}
@media (max-width: 575.98px) {
  .nav__navbar-nav {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
}
.nav__item {
  font-stretch: normal;
  font-family: "oxygen" sans-serif;
}
.nav__link {
  font-size: 2rem;
  color: #006837;
  position: relative;
  top: -1rem;
  right: 15rem;
  left: 2rem;
  margin-right: 5rem;
  text-decoration: none;
}
.nav__link:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 991.98px) {
  .nav__link {
    display: inline-block;
    position: relative;
    left: -5rem;
  }
}
@media (max-width: 575.98px) {
  .nav__link {
    position: relative;
    left: -5rem;
  }
}

#toggler {
  padding: 0;
  border: none;
  box-shadow: none !important;
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

.offcanvas {
  height: 100rem;
}
@media (max-width: 575.98px) {
  .offcanvas {
    max-width: 20rem;
  }
}

.dropdown-menu {
  font-size: 1.5rem;
  color: #cfe8aa;
  background-color: #044d2b;
  height: 30rem;
  width: 30rem;
  position: absolute;
  top: 5rem;
}
@media (max-width: 991.98px) {
  .dropdown-menu {
    font-size: 1rem;
    height: 30rem;
    width: 20rem;
    margin-left: 5rem;
  }
}
@media (max-width: 575.98px) {
  .dropdown-menu {
    font-size: 1.3rem;
    height: 30rem;
    width: 20rem;
    margin-left: -3rem;
  }
}

.about-dropdowm {
  font-size: 1.5rem;
  color: #cfe8aa;
  background-color: #044d2b;
  height: 15rem;
  width: 30rem;
  margin-left: 1rem;
}
@media (max-width: 575.98px) {
  .about-dropdowm {
    font-size: 1.3rem;
    height: 30rem;
    width: 20rem;
    margin-left: -5rem;
  }
}

.dropdown-item {
  color: #cfe8aa;
}

.navbar {
  height: 15rem;
  background-color: #cfe8aa;
}

.navbar {
  transition: all 0.3s ease;
}

.navbar.shrink {
  padding: 3rem 5rem;
  background-color: #f6f1f1;
  height: 7rem;
}

#logo {
  transition: all 0.3s ease;
}

#logo.shrink {
  padding: 0.5rem 1rem;
  width: 7rem;
  height: 4rem;
}
@media (max-width: 575.98px) {
  #logo.shrink {
    position: relative;
    top: -4rem;
  }
}
@media (max-width: 767.98px) {
  #logo.shrink {
    position: relative;
    top: -4rem;
  }
}
@media (max-width: 991.98px) {
  #logo.shrink {
    position: relative;
    top: -4rem;
  }
}

#navlink {
  transition: all 0.3s ease;
}

#navlink.shrink {
  padding: 10rem 1rem;
  height: 3rem;
}
@media (max-width: 991.98px) {
  #navlink.shrink {
    margin-top: 2rem;
    padding: 2rem 3rem;
    height: 3rem;
  }
}
@media (max-width: 575.98px) {
  #navlink.shrink {
    padding: 1rem 2rem;
    height: 5rem;
  }
}

#toggler {
  transition: all 0.3s ease;
}

#toggler.shrink {
  padding: 1rem 5rem;
  height: 3rem;
}
@media (max-width: 991.98px) {
  #toggler.shrink {
    padding: 1rem 5rem;
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 4rem;
  }
}
@media (max-width: 767.98px) {
  #toggler.shrink {
    padding: 1rem 5rem;
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 4rem;
  }
}
@media (max-width: 575.98px) {
  #toggler.shrink {
    padding: 1rem 5rem;
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 4rem;
  }
}

.header__logo {
  width: 12rem;
  height: 8rem;
  margin-left: 4rem;
  margin-top: 3rem;
}
@media (max-width: 575.98px) {
  .header__logo {
    width: 9rem;
    height: 6rem;
    margin-left: 3rem;
    margin-top: 3rem;
  }
}

.top-banner__products {
  background-image: url("../images/ace4.jpg");
  background-attachment: fixed;
  background-position: 50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #cfe8aa;
  opacity: 0.7;
  height: 40rem;
}
.top-banner__products__text {
  font-size: 7rem;
  text-transform: uppercase;
  margin-top: 15rem;
}
@media (max-width: 575.98px) {
  .top-banner__products__text {
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 4rem;
    margin-top: 15rem;
  }
}
.top-banner__team {
  background-image: url("../images/ace6.jpg");
  background-attachment: fixed;
  background-position: cover;
  background-size: 100%;
  background-color: #cfe8aa;
  opacity: 0.7;
  height: 40rem;
}
.top-banner__team__text {
  font-size: 7rem;
  text-transform: uppercase;
  margin-top: 15rem;
}
@media (max-width: 575.98px) {
  .top-banner__team__text {
    font-size: 4rem;
    margin-top: 15rem;
  }
}
.top-banner__about {
  background-image: url("../images/ace7.jpg");
  background-attachment: fixed;
  background-position: cover;
  background-size: auto;
  background-color: #cfe8aa;
  opacity: 0.7;
  height: 40rem;
}
.top-banner__about__text {
  font-size: 7rem;
  text-transform: uppercase;
  margin-top: 15rem;
}
@media (max-width: 575.98px) {
  .top-banner__about__text {
    font-size: 4rem;
    margin-top: 15rem;
  }
}
.top-banner__contact {
  background-image: url("../images/ace-contact-banner.jpg");
  background-attachment: fixed;
  background-position: 25%;
  background-size: auto;
  background-color: #cfe8aa;
  opacity: 0.7;
  height: 40rem;
}
.top-banner__contact__text {
  font-size: 7rem;
  text-transform: uppercase;
  margin-top: 15rem;
}
@media (max-width: 575.98px) {
  .top-banner__contact__text {
    background-position: 25%;
    background-size: auto;
    font-size: 4rem;
    margin-top: 15rem;
  }
}

.header-info {
  background-color: #ffffff;
  font-style: italic;
  font-size: 16px;
}

#clock {
  color: rgb(6, 6, 102);
}

#working-hour {
  color: white;
  font-style: italic;
}

#Telephone {
  color: #006837;
}

#number {
  color: #006837;
}

#envelope {
  color: #006837;
}

#email {
  color: #006837;
}

#social {
  color: #006837;
}

.footer {
  background-color: #000000;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #cfe8aa;
  border-top: 0.5rem solid;
  border-color: rgba(0, 104, 55, 0.8);
}
@media (max-width: 991.98px) {
  .footer {
    text-align: center;
    padding: 8rem 0;
    border-top: 0.3rem solid;
    border-color: rgba(0, 104, 55, 0.8);
  }
}
@media (max-width: 767.98px) {
  .footer {
    text-align: center;
    padding: 8rem 0;
    border-top: 0.3rem solid;
    border-color: rgba(0, 104, 55, 0.8);
  }
}
@media (max-width: 575.98px) {
  .footer {
    text-align: center;
    padding: 8rem 0;
    border-top: 0.3rem solid;
    border-color: rgba(0, 104, 55, 0.8);
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}
@media (max-width: 575.98px) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #cfe8aa;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s;
}
.footer__link:hover, .footer__link:active {
  color: #006837;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}
@media (max-width: 991.98px) {
  .footer__copyright {
    text-align: center;
    margin-right: 7rem;
  }
}
@media (max-width: 767.98px) {
  .footer__copyright {
    text-align: center;
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
@media (max-width: 575.98px) {
  .footer__copyright {
    max-width: 100%;
    margin: auto;
    float: none;
  }
}

.slider {
  height: 35vh;
}
@media (max-width: 1199.98px) {
  .slider {
    height: 50vh;
  }
}
@media (max-width: 991.98px) {
  .slider {
    height: 100vh;
  }
}
@media (max-width: 575.98px) {
  .slider {
    height: 35vh;
  }
}
@media (max-width: 397.98px) {
  .slider {
    height: 45vh;
  }
}

.section-about {
  padding: 23rem 0;
  margin-top: 35rem;
  margin-bottom: 2rem;
}
@media (max-width: 1199.98px) {
  .section-about {
    height: 66vh;
    padding: 36rem 0;
    margin-top: 40rem;
    margin-bottom: 40rem;
  }
}
@media (max-width: 991.98px) {
  .section-about {
    height: 87vh;
    padding: 2rem 0;
    margin-top: 22rem;
    margin-bottom: 50rem;
  }
}
@media (max-width: 767.98px) {
  .section-about {
    height: 100vh;
    padding: 5rem 0;
    margin-top: 16rem;
    margin-bottom: 15rem;
  }
}
@media (max-width: 575.98px) {
  .section-about {
    height: 260vh;
    padding: 5rem 1rem;
    margin-top: 24rem;
    margin-bottom: -118rem;
  }
}
@media (max-width: 397.98px) {
  .section-about {
    height: 245vh;
    padding: 8rem 1rem;
    margin-top: 8rem;
    margin-bottom: -40rem;
  }
}

.section-features {
  height: 110vh;
  margin-top: -2rem;
  background-color: #cfe8aa;
  background-image: linear-gradient(to right bottom, rgba(207, 232, 170, 0.8), rgba(0, 104, 55, 0.8)), url(../images/ace4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}
@media (max-width: 1199.98px) {
  .section-features {
    height: 65vh;
    margin-top: 6rem;
    margin-bottom: 10rem;
    background-color: #cfe8aa;
  }
}
@media (max-width: 991.98px) {
  .section-features {
    height: 150vh;
    margin-top: 0rem;
    margin-bottom: 10rem;
    background-color: #cfe8aa;
  }
}
@media (max-width: 767.98px) {
  .section-features {
    height: 320vh;
    margin-top: 10rem;
    margin-bottom: 7rem;
    background-color: #cfe8aa;
    padding: none;
  }
}
@media (max-width: 575.98px) {
  .section-features {
    height: 380vh;
    margin-top: 10rem;
    margin-bottom: 7rem;
    background-color: #cfe8aa;
    transform: skewY(0deg);
  }
  .section-features > * {
    transform: skewY(0deg);
  }
}
@media (max-width: 397.98px) {
  .section-features {
    height: 380vh;
    margin-top: 21rem;
    margin-bottom: 7rem;
    background-color: #cfe8aa;
    transform: skewY(0deg);
  }
  .section-features > * {
    transform: skewY(0deg);
  }
}

.section-testimony {
  padding: 25rem 0;
  margin-top: -10rem;
}
@media (max-width: 991.98px) {
  .section-testimony {
    height: 170vh;
    padding: 25rem 0;
    margin-top: -20rem;
  }
}
@media (max-width: 767.98px) {
  .section-testimony {
    height: 160vh;
    padding: 5rem 1rem;
    margin-top: 1.5rem;
  }
}
@media (max-width: 575.98px) {
  .section-testimony {
    height: 220vh;
    padding: 5rem 1rem;
    margin-top: 1.5rem;
  }
}
.section-testimony__btn {
  color: #cfe8aa;
  position: absolute;
  top: 20rem;
}
@media (max-width: 575.98px) {
  .section-testimony__btn {
    position: absolute;
    top: 5rem;
  }
}

.action-call {
  height: 30rem;
  padding: 15rem 0;
  background-color: rgba(4, 77, 43, 0.8);
  padding: 4rem;
}
@media (max-width: 1199.98px) {
  .action-call {
    height: 43rem;
  }
}
@media (max-width: 991.98px) {
  .action-call {
    height: 80rem;
  }
}
@media (max-width: 767.98px) {
  .action-call {
    height: 75rem;
  }
}
@media (max-width: 575.98px) {
  .action-call {
    height: 65rem;
  }
}
@media (max-width: 397.98px) {
  .action-call {
    height: 65rem;
    margin-top: 6rem;
  }
}
.action-call__img {
  max-width: 53%;
  margin-left: 15rem;
  border: 0.7rem solid rgba(207, 232, 170, 0.8);
  border-radius: 2rem;
}
@media (max-width: 1199.98px) {
  .action-call__img {
    max-width: 100%;
    margin: auto;
  }
}
@media (max-width: 991.98px) {
  .action-call__img {
    max-width: 102%;
    margin: auto;
  }
}
@media (max-width: 575.98px) {
  .action-call__img {
    max-width: 100%;
    margin: auto;
  }
}
.action-call__text {
  font-size: 3rem;
  color: #ffffff;
}
.action-call__btn {
  font-size: 4rem;
  background-color: rgba(207, 232, 170, 0.8);
  position: relative;
  top: 5rem;
  width: 50rem;
}
@media (max-width: 1199.98px) {
  .action-call__btn {
    width: 32rem;
    margin-left: 10rem;
  }
}
@media (max-width: 991.98px) {
  .action-call__btn {
    margin-left: 6rem;
  }
}
@media (max-width: 767.98px) {
  .action-call__btn {
    width: 25rem;
    margin-left: 3rem;
  }
}
@media (max-width: 575.98px) {
  .action-call__btn {
    width: 20rem;
    margin-left: 3rem;
  }
}
@media (max-width: 991.98px) {
  .action-call__col1 {
    margin-bottom: 5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
