
.navbar {
  height: $header-height-small;
  background-color:$color-primary-light;

}


.navbar
 {
  transition: all 0.3s ease;
}
.navbar.shrink {
  padding: 3rem 5rem;
  background-color: #f6f1f1;
  height: 7rem;
  
}


#logo
 {
  transition: all 0.3s ease;
}
#logo.shrink {
  padding: .5rem 1rem;
  width: 7rem;
  height: 4rem;
  

  @include media-breakpoint-down(sm) {
    position: relative;
    top: -4rem;
  }

  @include media-breakpoint-down(md) {
    position: relative;
    top: -4rem;
  }

  @include media-breakpoint-down(lg) {
    position: relative;
    top: -4rem;
  }


  

}


#navlink
 {
  transition: all 0.3s ease;
}
#navlink.shrink {
  padding: 1rem 5rem;
  height: 3rem;

    @include media-breakpoint-down(sm) {

      padding: 1rem 2rem;
      height: 5rem;
     
      // position: absolute;
      // bottom: -25rem;
  }

}


#toggler
 {
  transition: all 0.3s ease;
}

#toggler.shrink {
  padding: 1rem 5rem;
  height: 3rem;

    @include media-breakpoint-down(sm) {

      padding: 1rem 5rem;
      font-size: 2rem;
     
      position: absolute;
      bottom: 2rem;
      right: 4rem;
  }

  @include media-breakpoint-down(md) {

    padding: 1rem 5rem;
    font-size: 2rem;
   
    position: absolute;
    bottom: 2rem;
    right: 4rem;
}

@include media-breakpoint-down(lg) {

  padding: 1rem 5rem;
  font-size: 2rem;
 
  position: absolute;
  bottom: 2rem;
  right: 4rem;
}




}






.header {

  &__logo {
    width: $logo-width ;
    height: $logo-height;
    margin-left: 4rem;
    margin-top: 3rem;

    @include media-breakpoint-down(sm) {
      width: $logo-width-small ;
      height: $logo-height-small;
      margin-left: 3rem;
      margin-top: 3rem;


    }

   
  }

}







