.header-info {
    background-color: $color-secondary-white;
    font-style: italic;
    font-size: 16px
    
    
  }
  
  
  #clock {
    color: rgb(6, 6, 102);
    
  }
  
  #working-hour{
    color: white;
    font-style: italic;
  }
  
  #Telephone{
    color:$color-primary;
    
  
  
  
  }
  
  #number {
    color: $color-primary;
  
  
  }
  
  #envelope {
    color:$color-primary;
  
  
  }
  
  
  #email {
    color: $color-primary;
  
  
  }
  
  #social {
   color: $color-primary;
  
  }
  