.top-banner {
    background-image: url("../images/ace2.jpg"); 
    background-attachment: fixed;
    background-position: cover;
    background-size: cover;
    background-color: $color-primary-light;
    opacity: 75;
    height: 40rem;

    &__text {
        font-size: 7rem;
        margin-top: 15rem;


        @include media-breakpoint-down(sm) {
            font-size: 4rem;
            margin-top: 15rem;
        }

    }
}