.top-banner {
   
    &__products {
        background-image: url("../images/ace4.jpg"); 
        background-attachment: fixed;
        background-position: 50%;
        background-size: auto;
        background-repeat: no-repeat;
        background-color: $color-primary-light;
        opacity: .7;
        height: 40rem;
    
        &__text {
            font-size: 7rem;
            text-transform: uppercase;
            margin-top: 15rem;
    
    
            @include media-breakpoint-down(sm) {
                background-position: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                font-size: 4rem;
                margin-top: 15rem;
            }
    
        }
    }

    &__team {
        background-image: url("../images/ace6.jpg"); 
        background-attachment: fixed;
        background-position: cover;
        background-size: 100%;
        background-color: $color-primary-light;
        opacity: .7;
        height: 40rem;
    
        &__text {
            font-size: 7rem;
            text-transform: uppercase;
            margin-top: 15rem;
    
    
            @include media-breakpoint-down(sm) {
                font-size: 4rem;
                margin-top: 15rem;
            }
    
        }
    }


    &__about {
        background-image: url("../images/ace7.jpg"); 
        background-attachment: fixed;
        background-position: cover;
        background-size: auto;
        background-color: $color-primary-light;
        opacity: .7;
        height: 40rem;
    
        &__text {
            font-size: 7rem;
            text-transform: uppercase;
            margin-top: 15rem;
    
    
            @include media-breakpoint-down(sm) {
                font-size: 4rem;
                margin-top: 15rem;
            }
    
        }
    }


    &__contact {
        background-image: url("../images/ace-contact-banner.jpg"); 
        background-attachment: fixed;
        background-position: 25%;
        background-size: auto;
        background-color: $color-primary-light;
        opacity: .7;
        height: 40rem;
    
        &__text {
            font-size: 7rem;
            text-transform: uppercase;
            margin-top: 15rem;
            
    
    
            @include media-breakpoint-down(sm) {
                background-position: 25%;
                background-size: auto;
                font-size: 4rem;
                margin-top: 15rem;
            }
    
        }
    }
    
}






