
.carousel-indicators {
margin-bottom: 28rem;
}








.carousel {

  height: 131.75vh;

    
    &__img {
      height: 131.75vh;
      width:100%;
      filter: brightness(50%);
     
 
 
 
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);

   
      @include media-breakpoint-down(sm) {

        height: 121.75vh;
     
     
      width:100%;
      filter: brightness(50%);
       
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
         clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);

        
  
      }


    }

    

    


    
    
  }

    



.carousel-caption {

  &__header {
    font-family: "Oxygen" sans-serif;
    font-size: $heading-primary-font-main;
    position: relative;
    bottom: 42rem;
    color: $color-primary-light;

    @include media-breakpoint-down(sm) {
      font-size: $heading-secondary-font;
       
      margin-bottom: -50rem;

    }
   }


  &__description {
    font-family: "Lora" serif ;
    font-size: 3rem;
    position: relative;
    bottom:42rem;

    @include media-breakpoint-down(sm) {
      font-size: $default-font-size;
       position: absolute;
       bottom: 25rem;

      

    }

}


&__btn {
  position: relative;
  bottom: 45rem;


  animation: 4s moveInBottom  ease-out;
 

  @include media-breakpoint-down(sm) {

    
    position: absolute;
    top: 20rem;
    

  }


}



}


.carousel-item {

  &__testimonial {
    font-size: $default-font-size;
  }

  &__header {
    color: $color-primary;
  }
  
}