
.carousel-indicators {
margin-bottom: 28rem;


@include media-breakpoint-down(xl) {
  margin-bottom: 13rem;
}

@include media-breakpoint-down(lg) {
  margin-bottom: 13rem;
}


@include media-breakpoint-down(md) {
  margin-bottom: 18rem;
}

@include media-breakpoint-down(sm) {
  margin-bottom: 18rem;
}









}








.carousel {

  height: 121.75vh;
  

  @include media-breakpoint-down(sm) {
    height: 100vh;
  }

    
    &__img {
      height: 109.75vh;
      max-width:100%;
      filter: brightness(50%);
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);


              @include media-breakpoint-down(xl) {

                height: 120.75vh;
                max-width:100%;
                filter: brightness(50%);
               
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
                        clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
        
             
             
              
                
          
              }
              
              
              @include media-breakpoint-down(lg) {

                height: 120.75vh;
                max-width:100%;
                filter: brightness(50%);
               
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
                        clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
        
             
             
              
                
          
              }
              

   
      @include media-breakpoint-down(md) {

        height: 121.75vh;
        max-width:100%;
        filter: brightness(50%);
       
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 110vh, 0 100%);

     
     
      
        
  
      }
      
      
      
      
      
      
      @include media-breakpoint-down(sm) {

        height: 100vh;
        max-width:100%;
        filter: brightness(50%);
         
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
                clip-path: polygon(0 0, 100% 0, 300% 85vh, 0 100%);
  
     
     }


      


    }

    

    


    
    
  }

    



.carousel-caption {

  position: absolute;
  top: 80%;
  left: -50%;
  bottom: 50%;
  right: -50%;
  // transform: translate(-50%, -50%);
  text-align: center;

  @include media-breakpoint-down(xl) {
    position: absolute;
    top: 100%;
    left: -50%;
    right: -50%;
    bottom: 100%;
    // transform: translate(-50%, -50%);
    text-align: center;
  }

  @include media-breakpoint-down(lg) {
    position: absolute;
    top: 100%;
    left: -50%;
    right: -50%;
    bottom: 100%;
    // transform: translate(-50%, -50%);
    text-align: center;
  }


  @include media-breakpoint-down(md) {
    position: absolute;
    top: 100%;
    left: -50%;
    right: -50%;
    // transform: translate(-50%, -50%);
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 100%;
    left: -50%;
    bottom: 50%;
    right: -50%;
    transform: translate(0%, -20%);
    text-align: center;
  }


  


  


  


  

  &__header {
    font-family: "Oxygen" sans-serif;
    font-size: $heading-primary-font-main;
    color: $color-primary-light;


    @include media-breakpoint-down(md) {
      font-size: $heading-secondary-font;
    }


     @include media-breakpoint-down(sm) {
       font-size: 4rem;
     }

    
   


    
   }


  &__description {
    font-family: "Lora" serif ;
    font-size: 3rem;



    
    @include media-breakpoint-down(xl) {
      font-size: 1.5rem;
      

      

    }


    @include media-breakpoint-down(lg) {
      font-size: 1.5rem;
      

      

    }


    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
      

      

    }
    

    @include media-breakpoint-down(sm) {
      font-size: $default-font-size;
      

      

    }

   

  




   

}


&__btn {
  position: absolute;
 
  
  


  animation: 4s moveInBottom  ease-out;
 

  @include media-breakpoint-down(sm) {

    font-size: 7rem;


 
  
    

  }

  @include media-breakpoint-down(md) {

    font-size: 10rem;

   
    

  }


}



}


.carousel-item {

  &__testimonial {
    font-size: $default-font-size;
  }

  &__header {
    color: $color-primary;
  }
  
}