.composition {
    position: relative;
    bottom: 5rem;

    @include media-breakpoint-down(sm) {
        position: relative;
        top: 5rem;
        right: 2rem;
        bottom: -10rem;
        left: 4rem;
     

   }
    

    &__photo {
        height: auto;
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;


        @include media-breakpoint-down(sm) {
            // float: left;
            position: relative;
            top: 60rem;
            left: 20rem;
            width: 33.333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-primary-black, .2);
 
       }
        
        @include media-breakpoint-down(md) {
            //  float: center;
            //  position: relative;
            //  top: 10rem;
            //  left: 2rem;
            //  width: 33.333333%;
            //  box-shadow: 0 1.5rem 3rem rgba($color-primary-black, .2);
  
        }

        

        &--p1 {
            width: 30rem;
            left: 0;
            top: -2rem;
            
            @include media-breakpoint-down(sm) {
                width: 10rem;
                top: 0;
                left: 8rem;
                transform: scale(1.2)
     
           }
            
            @include media-breakpoint-down(md) {
                 
      
            }
          
    
        }

        &--p2 {
            width: 30rem;
            right: 0;
            top: 2rem;

            @include media-breakpoint-down(sm) {

                margin-top: 10rem;
                position: relative;
                top: 300rem;
                left: 3rem;

                
                width: 9rem;
                // z-index: 100;
                top: 6rem;
                transform: scale(1.3)
     
            }
             
             @include media-breakpoint-down(md) {
                       z-index: 100;
                       top: -1rem;
                       transform: scale(1.3)
       
             }

            
        }

        &--p3 {
            width: 30rem;
            left: 20%;
            top: 10rem;
            
            @include media-breakpoint-down(sm) {
                width: 10rem;
                position: relative;
                top: 1rem;
                left: -3rem;
                transform: scale(1.1)
     
            }
             
             @include media-breakpoint-down(md) {
                     
       
             }
           

        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-primary-black, .5);
            z-index: 20;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
    //composition:hover composition__photo:not(:hover) {
}