.feature-box {
    margin-top: 10rem;
    background-color: rgba($color-secondary-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.9rem 4rem rgba($color-primary-black, .15);
    animation: fadeInDown  2s ease-out;

    @include media-breakpoint-down(xl) {
        padding: 5rem;
        margin-bottom: 2rem;
    
        
    }

    @include media-breakpoint-down(sm) {
        
    
        
    }
 

    &__products {
        width: 25rem;

        
        @include media-breakpoint-down(xl) {
            max-width: 100%;
            height:auto;
        }
        
        
        @include media-breakpoint-down(lg) {
            max-width: 100%;
            height:auto;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            height: auto;
        }

       
     
    }

    &__heading {
        font-size: $heading-tertiary-font;
        font-style: italic;
        text-transform: uppercase;
        color: $color-primary;

        
     
    }

    &__text {
        font-size: $default-font-size2;
        text-transform: capitalize;

    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}