#scrollUpBtn {
    font-size: 4rem;
    position: fixed;
    right: 40px;
    bottom: 40px;
    
    display: none;
    background-color: $color-primary-deep;

    @include media-breakpoint-down(sm) {
       font-size: 2rem;
       position: fixed;
       right: 72px;
       bottom: 40px;
      
       
       display: none;
    }

}