



body {
    font-family: "Lora" serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-primary-black;
 
    //padding: 1.5rem;
}

.heading-primary {
    color: $color-secondary-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    


    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        
    // @include respond(phone) {
    //     letter-spacing: 1rem;
    //     font-family: 5rem;
    
        
    // }
    
        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;

        // @include respond(phone) {
        //     letter-spacing: .5rem;
        
            
        // }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-primary-deep);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include media-breakpoint-down(sm) {
        font-size:2rem;
        
     }

    

    // @include respond(tab-port) { //tab-port come first then phone
    //     font-size:3rem;
    // }

    // @include respond(phone) {
    //     font-size:2.5rem;
    // }
                
    


    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-primary-black, .2);
    }

    
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}





.section-about {


   

    &__photo {
        max-width: 100%;
        border: 1px solid;
        border-radius: 2rem;
        border-width: 1rem;
        border-color: $color-primary-light;
        animation: fadeInDown  2s ease-out;
   
    
        @include media-breakpoint-down(xl) {
            max-width:100%;
            margin-top:20rem;
            
        }
        
        
        
        
        @include media-breakpoint-down(lg) {
            max-width:100%;
            margin-top:0rem;
            margin-bottom:0rem;

            
        }



        @include media-breakpoint-down(md) {
            max-width: 110%;
            height: auto;
            border: solid;
            border-radius: 2rem;
            border-width: .2rem;
            border-color: $color-primary-light;
            outline: 2rem;
            

            position: relative;
            top: -20rem;
            
        }
    
        
        @include media-breakpoint-down(sm) {
            max-width: 100%;
            height: auto;
            border: solid;
            border-radius: 2rem;
            border-width: .2rem;
            border-color: $color-primary-light;
            outline: 2rem;
            

            position: relative;
            top: -1rem;
            
        }


        @include media-breakpoint-down(xm) {
            max-width: 100%;
            height: auto;
            border: solid;
            border-radius: 2rem;
            border-width: .2rem;
            border-color: $color-primary-light;
            outline: 2rem;
            

            position: relative;
            top: 10rem;
            
        }
    
       
    
        
    
       
    
    
    
    
    
    }

    &__heading {
        font-size: $heading-secondary-font;
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        color: $color-primary;
        margin-left: 2rem;
        animation: fadeInDown  2s ease-out;

        @include media-breakpoint-down(sm) {
        font-size:$heading-tertiary-font;
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        color: $color-primary;
        margin-left: 2rem;
        margin-top: 13rem;
  
        }

    }


    &__paragraph {
        font-size:$default-font-size;
        color: $color-primary-black;
        animation: fadeInDown  2s ease-out;
    }

    &__heading-tertiary {
        font-size: $heading-tertiary-font;
        color: $color-primary;
        font-weight: 500;
        text-transform: uppercase;
        animation: fadeInDown  2s ease-out;
    }

    &__portfolio {
        font-size: $default-font-size2;
    }
}


.vision-mission {
    height: 35rem;
    background-color: $color-primary-light;

    @include media-breakpoint-down(sm) {
        height:85rem;
    } 
    
}

.company-profile {
    border-bottom: 1rem solid rgba($color-primary-light, 10);
    border-style: double;
}


.vision {
    text-align: center;
    border-bottom : .1rem solid $color-primary-black;
    border-radius: 3rem;
    border-style: groove;
    background-color: rgba($color-secondary-white, .9);
    padding: 2rem;
    margin: 1rem;


    &__heading {
        text-align: center;
        
    }


}


.profile {

    &__img {
        max-width: 100%;
        border-radius: 2rem;
        border: .3rem solid  $color-primary-light;
        animation: fadeInDown  2s ease-out;

        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }
}

.company-products {

    &__strong {
        text-transform: uppercase;
    }
}




.contact {
    background-image:linear-gradient( 105deg, 
    rgba($color-primary-light, 10),
    rgba($color-secondary-white, .9) 20%,
    
    transparent 70%), 
    
    
    url(../images/ace-contact.jpg);
    background-size: auto; // or 100% value
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-primary-black, .2);

    @include media-breakpoint-down(lg) {
        background-size: cover; // or 100% value
        background-position: 25%;
        background-repeat: no-repeat;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-black, .2);
           
            
         }
    

    @include media-breakpoint-down(sm) {
    background-size: cover; // or 100% value
    background-position: 25%;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-primary-black, .2);
       
        
     }

    &__form {
        max-width: 80%;
      

        @include media-breakpoint-down(sm) {
            max-width: 100%;
            padding: 3rem;
    
         }
    }
}

.contact-info {
    
    &__header {

        font-size: 2rem;

    }

    &__text {

        @include media-breakpoint-down(lg) {
            font-size: 1.2rem;
           
        }

    }


    &__icon {
        font-size: 4rem;
        color: $color-primary-deep;
    }
}




.section-products {
  
    margin-bottom: 5rem;
    padding: 5rem 0 5rem;

    @include media-breakpoint-down(xl) {
        margin-bottom: 5rem;
        padding: 5rem 0 7rem;
    }

    @include media-breakpoint-down(lg) {
        margin-bottom: 5rem;
        padding: 5rem 0 7rem;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 5rem;
        padding: 5rem 0 7rem;
    }
}


.product {

   
    background-image: linear-gradient(to bottom, $color-primary-light, $color-primary-deep);
    padding:5rem 0 5rem;
    margin-bottom:5rem;

    animation: fadeInDown 2s ease-out;

    @include media-breakpoint-down(xl) {
        margin-bottom: 2rem;
        padding:5rem 0 10rem;
    }

    @include media-breakpoint-down(lg) {
        margin-bottom: 2rem;
        padding:5rem 0 10rem;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 2rem;
        padding:5rem 0 10rem;
    }

    &__header {
        letter-spacing: 2rem;
        border-bottom: .1rem solid ;
        background-color: $color-primary-light;
        @include media-breakpoint-down(sm) {
            font-size: 2rem;
        
        }
    }

    &__details {
        color: white;
        font-size: 2rem;
        padding: 0 10rem 0 10rem;

        @include media-breakpoint-down(sm) {
            padding: 0 2rem 0 2rem;

        }
       
    }

    &__img {
        max-width: 30%;
        height: auto;

        
        @include media-breakpoint-down(xl) {
            max-width: 100%;
            height: auto;
        }

        @include media-breakpoint-down(lg) {
            max-width: 100%;
            height: auto;
        }

        @include media-breakpoint-down(sm) {
            max-width: 100%;
            height: auto;
        }
    }


  
}
    
        
    
    
.btn--product {
    &:link,
    &:visited {
        font-size: $default-font-size;
        font-weight: 700;
        color: $color-primary-light;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
        font-weight: 700;
}

    &:hover {
        background-color: $color-primary;
        color: $color-secondary-white;
        box-shadow: 0 1rem 2rem rgba($color-primary-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-primary-light, .15);
        transform: translateY(0);
    }
}
    