.slider {
    height: 35rem;
    // width: 100% !important;

    @include media-breakpoint-down(sm) {
        height: 85vh;
       
    }

    @include media-breakpoint-down(lg) {
        height: 100vh;
       
    }
   
   
}


.section-about {
    // height: 12vh;
    padding: 40rem 0;
    margin-top: 25rem;
    margin-bottom: 26rem;
    // background-color: $color-primary-light;
    
    @include media-breakpoint-down(lg) {
        height: 11vh;
        padding: 5rem 0;
        margin-top: 23rem;
        margin-bottom: 35rem;
    }


    @include media-breakpoint-down(md) {
        height: 140vh;
        padding: 5rem 0;
        margin-top: 16rem;
        margin-bottom: 35rem;
    }
    
    
    @include media-breakpoint-down(sm) {
        height: 280vh;
        padding: 8rem 0;
        margin-top: 10rem;
        margin-bottom: -50rem;
    }

    

   
}



.section-features {
    height: 110vh;
    margin-top: -2rem;
    // margin-bottom: 20rem;
    background-color: $color-primary-light;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
        rgba($color-primary, 0.8)),
        url(../images/ace4.jpg);
        background-size: cover;
        transform: skewY(-7deg);
        
       
    
    &> * {
        transform: skewY(7deg);
    } //section-features > * {}
    
    @include media-breakpoint-down(sm) {
        height: 430vh;
        margin-top: 10rem;
        margin-bottom: 10rem;
        background-color: $color-primary-light;

    }
   
    
}


.section-testimony {
    position: relative;
    padding: 25rem 0;
    margin-top: -10rem;

   @include media-breakpoint-down(sm) {
       height: 320vh;
        position: relative;
        padding: 15rem 0;
        margin-top: 3rem;
        
      
    }


    @include media-breakpoint-down(md) {
        
      
    }



    &__btn {
        color: $color-primary-light;
        position: absolute;
        top: 20rem;

        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 5rem;
    
    
           
        }

    }

}

.section-front-contact {
    padding: 15rem 0;
    background-image:linear-gradient(to right bottom, $color-primary-light, 
    $color-primary) ;

   @include media-breakpoint-down(sm) {
    background-image:linear-gradient(to right bottom, $color-primary-light, 
    $color-primary) ;
      padding: 10rem 0;
      margin-top: 10rem;
      
   }
}



.front-contact {
    background-image:linear-gradient( 105deg, 
    rgba($color-primary-light, 10),
    rgba($color-secondary-white, .9) 70%,
    
    transparent 20%), 
    
    url(../images/ace4.jpg);
    background-size: cover; // or 100% value
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-primary-black, .2);

    // height: 75rem;

    @include media-breakpoint-down(sm) {
        // height: 120vh;
        // margin-top: 25rem;
        
     }

    &__form {
        width: 50%;
        padding: 6rem;

        @include media-breakpoint-down(sm) {
            width: 65%;
            padding: 3rem;
    
         }
    }
}




.section-contact {
    padding: 15rem 0;
    background-image:linear-gradient(to right bottom, $color-primary-light, 
    $color-primary) ;

   @include media-breakpoint-down(sm) {
    background-image:linear-gradient(to right bottom, $color-primary-light, 
    $color-primary) ;
      padding: 10rem 0;
      margin-top: 10rem;
      
   }
}









