.slider {
    height: 35vh;


    @include media-breakpoint-down(xl) {
        height: 50vh;
       
    }
    
    
    @include media-breakpoint-down(lg) {
        height: 100vh;
       
    }
    
    
    
    @include media-breakpoint-down(sm) {
        height: 35vh;
       
    }

    @include media-breakpoint-down(xm) {
        height: 45vh;
       
    }


   
   
   
}


.section-about {
    // height: 12vh;
    padding: 23rem 0;
    margin-top: 35rem;
    margin-bottom: 2rem;
   
    
    
    @include media-breakpoint-down(xl) {
        height: 66vh;
        padding: 36rem 0;
        margin-top: 40rem;
        margin-bottom: 40rem;
    }

    
    
    @include media-breakpoint-down(lg) {
        height: 87vh;
        padding: 2rem 0;
        margin-top: 22rem;
        margin-bottom: 50rem;
    }


    @include media-breakpoint-down(md) {
        height: 100vh;
        padding: 5rem 0;
        margin-top: 16rem;
        margin-bottom: 15rem;
    }
    
    
    @include media-breakpoint-down(sm) {
        height: 260vh;
        padding: 5rem 1rem;
        margin-top: 24rem;
        margin-bottom: -118rem;
    }


    @include media-breakpoint-down(xm) {
        height: 245vh;
        padding: 8rem 1rem;
        margin-top: 8rem;
        margin-bottom: -40rem;
    }

    

   
}



.section-features {
    height: 110vh;
    margin-top: -2rem;
    // margin-bottom: 20rem;
    background-color: $color-primary-light;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
        rgba($color-primary, 0.8)),
        url(../images/ace4.jpg);
        background-size: cover;
        transform: skewY(-7deg);
        
       
    
    &> * {
        transform: skewY(7deg);
    } //section-features > * {}

    @include media-breakpoint-down(xl) {
        height: 65vh;
        margin-top: 6rem;
        margin-bottom: 10rem;
        background-color: $color-primary-light;

    }
    
    
    @include media-breakpoint-down(lg) {
        height: 150vh;
        margin-top: 0rem;
        margin-bottom: 10rem;
        background-color: $color-primary-light;

    }


    @include media-breakpoint-down(md) {
        height: 320vh;
        margin-top: 10rem;
        margin-bottom: 7rem;
        background-color: $color-primary-light;
        padding: none;

    }
   
   
    
    @include media-breakpoint-down(sm) {
        height: 380vh;
        margin-top: 10rem;
        margin-bottom: 7rem;
        background-color: $color-primary-light;

        transform: skewY(0deg);
        
       
    
    &> * {
        transform: skewY(0deg);
    } //section-features > * {}


    }


    @include media-breakpoint-down(xm) {
        height: 380vh;
        margin-top: 21rem;
        margin-bottom: 7rem;
        background-color: $color-primary-light;

        transform: skewY(0deg);
        
       
    
    &> * {
        transform: skewY(0deg);
    } //section-features > * {}


    }
   
    
}


.section-testimony {
    padding: 25rem 0;
    margin-top: -10rem;



    @include media-breakpoint-down(lg) {
        height: 170vh;
        padding: 25rem 0;
        margin-top: -20rem;

    }
        
      
    @include media-breakpoint-down(md) {
        height: 160vh;
        padding: 5rem 1rem;
        margin-top: 1.5rem;
        
      
    }


   @include media-breakpoint-down(sm) {
        height: 220vh;
        padding: 5rem 1rem;
        margin-top: 1.5rem;
        
      
    }


   


    &__btn {
        color: $color-primary-light;
        position: absolute;
        top: 20rem;

        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 5rem;
    
    
           
        }

    }

}








.action-call {
    height: 30rem;
    padding: 15rem 0;
    background-color: rgba($color-primary-deep, 0.8);
    padding: 4rem;

    @include media-breakpoint-down(xl) {
        height: 43rem;
    }

    @include media-breakpoint-down(lg) {
        height: 80rem;
    }


    @include media-breakpoint-down(md) {
        height: 75rem;
    }
     

    @include media-breakpoint-down(sm) {
        height: 65rem;
    }

    @include media-breakpoint-down(xm) {
        height: 65rem;
        margin-top: 6rem;
    }

    &__img {
    
        max-width: 53%;
        margin-left: 15rem;
        border: .7rem solid rgba($color-primary-light, 0.8);
        border-radius: 2rem;

        @include media-breakpoint-down(xl) {
            max-width: 100%;
            margin: auto;
        }
            

        @include media-breakpoint-down(lg) {
            max-width: 102%;
            margin: auto;
        }

        @include media-breakpoint-down(sm) {
            max-width: 100%;
            margin: auto;
        }
        
        
        
    }

    &__text {
        font-size: 3rem;
        color:$color-secondary-white;

    }

    &__btn {
        font-size: 4rem;
        background-color: rgba($color-primary-light, 0.8);
        position: relative;
        top: 5rem;
        width: 50rem;

        @include media-breakpoint-down(xl) {
            width: 32rem;
            margin-left: 10rem;
        }

        @include media-breakpoint-down(lg) {
            margin-left: 6rem;
        }

        @include media-breakpoint-down(md) {
            width: 25rem;
            margin-left: 3rem;
        }

        @include media-breakpoint-down(sm) {
            width: 20rem;
            margin-left: 3rem;
        }

    }

    &__col1 {

        @include media-breakpoint-down(lg) {
            margin-bottom: 5rem;
        }
    }

    
}











